#header-img{
    width: 300px;
    height: auto;
    padding: 10px;
}
#header{
    position: relative;
}
#header a{
    font-size: 15px;
    padding: 1px 10px;
    transition: .4s;
    float: right;
    margin-bottom: 400px;
}
#nav-bar{
    background-color: grey;
}